  
    {% extends 'base.html' %}

    {% block title %}Reconexiones{% endblock %}
    {% block content %}

    <div class="container center-screen">
      <div class="row">
        
          <h1>Auditoria de Reconexiones</h1>

          <form id="resultForm" action="/auditoria_reconexiones" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
              <label class="input-group-text" for="SaePlus"
                >Archivo de Abonados (Abonados SaePlus)</label
              >
              <input
                type="file"
                class="form-control"
                id="saeplus"
                name="saeplus"
                placeholder=""
                aria-label=""
              />
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text" for="drive"
                >Archivo de Cortes(Workdrive):</label
              >
              <input
                type="file"
                class="form-control"
                id="drive"
                name="drive"
              />
            </div>
            <br />
            <div class="input-group mb-3">
              <label class="input-group-text" for="epayco"
                >Archivo Abonados Epayco(Epayco):</label
              >
              <input
                type="file"
                class="form-control"
                id="epayco"
                name="epayco"
              />
            </div>
            <br />
            <div class="input-group mb-3">
              <label class="input-group-text" for="smartolt"
                >Archivo de abonados Smartolt(Smartolt):</label
              >
              <input
                type="file"
                class="form-control"
                id="smartolt"
                name="smartolt"
              />
            </div>
            <br />

            <input
              type="submit"
              class="btn btn-cafe-outline"
              value="Procesar Archivos"
            />
          </form>

      </div>
    </div>

    </div>
  {% endblock %}


