    {% extends 'base.html' %}
    {% block title %}Atenuaciones{% endblock %}
    {% block content %}
  

    <h3>Cargar CSV de OLTs</h3>
    <form method="POST" enctype="multipart/form-data" class="mb-3">
        <input type="file" name="file" required accept=".csv" class="form-control mb-2" />
        <label for="olt" class="form-label">Seleccione OLT:</label>
        <select name="olt" id="olt" class="form-select mb-2">
            {% for olt in olts %}
            <option value="{{ olt }}" {% if olt == olt_seleccionada %}selected{% endif %}>{{ olt }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-cafe-outline">Analizar</button>
    </form>

    {% if imagen %}
    <div class="mt-4">
        <img src="{{ imagen }}" class="img-fluid" alt="Mapa de calor" />
        <br />
       <a href="{{ url_for('download_excel_todas') }}" class="btn btn-cafe-outline"role="button" target="_blank" rel="noopener noreferrer">
    Descargar Excel con Arpones Alarma y Crítico (Todas OLTs)
</a>
    </div>
    <h4 class="mt-4">Tabla de Resultados (por Board/Port):</h4>
    {{ df_tabla|safe }}
    {% elif mensaje %}
    <div class="alert alert-info">{{ mensaje }}</div>
    {% endif %}
  {% endblock %}