<style>
    .center-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .navbar-title {
        font-size: 50px;
    }

    body {
        background-color: #f2f2f2;
    }
</style>
{% extends 'base.html' %}
{% block title %}Cortes{% endblock %} {% block content %}

<div class="container center-screen">
    <div class="row">
        <div class="col">
            <h1>Auditoria de Abonados en Corte</h1>
            <form action="/cortes" method="post" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="abonados">Archivo de Corte de Abonados (Excel)</label>
                    <input type="file" class="form-control" id="abonados" name="abonados">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="cortes">Archivo de Abonados en SmartOlt (CSV)</label>
                    <input type="file" class="form-control" id="cortes" name="cortes">
                </div>
                <input type="submit" class="btn btn-outline-success" value="Procesar Archivos">
            </form>
        </div>
    </div>
</div>

{% endblock %}