<style>
    /* Estilo personalizado para centrar el contenido verticalmente */
    .center-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        /* Altura del viewport */
    }

    .navbar-title {
        font-size: 50px;
        /* Puedes ajustar este valor según tus necesidades */
    }

    body {
        background-color: #f2f2f2;
        /* Color de fondo gris claro */
    }
</style>
{% extends 'base.html' %}
{% block title %}Reconexiones{% endblock %}
{% block content %}
<h1>Error</h1>
<p>{{ error }}</p>
{% endblock %}