 <style>
        .center-screen {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }
        .navbar-title {
            font-size: 50px;
        }
        body {
            background-color: #f2f2f2;
        }
    </style>
{% extends 'base.html' %}
{% block title %}Desactivados{% endblock %}
{% block content %}
    <div class="container center-screen">
        <div class="row">
            <div class="col">
                <h1>Auditoria de equipos que no estan en estatus Activo o por Instalar</h1>
                <form action="/noactivos" method="post" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="abonados_solointernet">Archivo de Abonados (Excel)</label>
                        <input type="file" class="form-control" id="abonados_solointernet" name="abonados_solointernet">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="olt">Archivo de Abonados en SmartOlt (CSV)</label>
                        <input type="file" class="form-control" id="olt" name="olt">
                    </div>
                    <input type="submit" class="btn btn-outline-success" value="Procesar Archivos">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
