    <style>
      /* Estilo personalizado para centrar el contenido verticalmente */
      .center-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh; /* Altura del viewport */
      }
      .navbar-title {
        font-size: 50px; /* Puedes ajustar este valor según tus necesidades */
      }
      body {
        background-color: #f2f2f2; /* Color de fondo gris claro */
      }
    </style>
 
    {% extends 'base.html' %}
   
    {% block title %}Reconexiones{% endblock %}
    {% block content %}
   

    <div class="container center-screen">
      <div class="row">
        <div class="col">
          <h1>Auditoria de Reconexiones</h1>

          <form action="/procesar" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
              <label class="input-group-text" for="abonados"
                >Archivo de Abonados (Abonados SaePlus)</label
              >
              <input
                type="file"
                class="form-control"
                id="abonados"
                name="abonados"
                placeholder=""
                aria-label=""
              />
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text" for="cortes"
                >Archivo de Cortes(Zoho):</label
              >
              <input
                type="file"
                class="form-control"
                id="cortes"
                name="cortes"
              />
            </div>
            <br />

            <input
              type="submit"
              class="btn btn-outline-success"
              value="Procesar Archivos"
            />
          </form>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            Instrucciones
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Descargue el archivo de abonados segun la franquicia en SaePlus</li>
            <li class="list-group-item">Abra el archivo de abonados  de SaePlus y guarde nuevamente el archivo</li>
            <li class="list-group-item">Cargue el archivo de SaePlus en el Aplicación en la zona de Abonados(SaePlus) </li>
          </ul>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            Instrucciones
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Descargue el archivo de Cortes segun la franquicia en Zoho</li>
            <li class="list-group-item">Cargue el archivo de Cortes en el Aplicación en la zona de Cortes (Zoho)</li>
          </ul>
        </div>
      </div>
      
    </div>

  
  {% endblock %}


