<style>
    .center-screen  {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .navbar-title {
        font-size: 50px;
    }
    .center-screen-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
        /* Altura del viewport */
    }
    body {
        background-color: #f2f2f2;
    }
</style>
{% extends 'base.html' %}

{% block title %}Solo @{% endblock %} {% block content %}
<div class="container center-screen">
    <div class="row">
        <div class="col">
            <h1>Auditoria de Abonados De solo Internet (Solo @)</h1>
            <form action="/solointernet" method="post" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="abonados_solointernet">Archivo de Abonados (Excel)</label>
                    <input type="file" class="form-control" id="abonados_solointernet" name="abonados_solointernet">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="olt">Archivo de Abonados en SmartOlt (CSV)</label>
                    <input type="file" class="form-control" id="olt" name="olt">
                </div>
                <input type="submit" class="btn btn-outline-success" value="Procesar Archivos">
            </form>
        </div>
        
    </div>
    

    <div class="container center-screen-2">
        <div class="row">     
            <h1>Instrucciones</h1>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Archivo de SaePlus
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Exporte el archivo de abonados segun la franquicia en
                            SaePlus (xlsx)</li>
                        <li class="list-group-item">Abra el archivo de abonados de SaePlus y guarde nuevamente
                            el archivo</li>
                        <li class="list-group-item">Cargue el archivo de SaePlus en
                            Abonados(SaePlus) </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Archivo de La OLT
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Exporte el archivo de abonados desde la olt(CSV)
                        </li>
                        <li class="list-group-item">Cargue el archivo de Abonados de la Olt
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}