
    {% extends 'base.html' %}
    {% block title %}Mayúsculas{% endblock %} {% block content %}

<div> <iframe src="https://workdrive.zohoexternal.com/embed/evzw3de4a35d203de447a818b64a622263baa?toolbar=false&appearance=light&themecolor=green" scrolling="no" frameborder="0" allowfullscreen=true width="800" height="450" title="Incrustar código" ></iframe>
<iframe src="https://workdrive.zohoexternal.com/embed/e8zc2d6c93411c09a4ac39b7126f45faf1a2d?toolbar=false&appearance=light&themecolor=green" scrolling="no" frameborder="0" allowfullscreen=true width="800" height="450" title="Incrustar código" ></iframe>

</div>

{% endblock %}